.name{
    font-family: Cleandro;
    font-size: 5vh;
}

.info{
    display: inline-block;
    margin: 1em;
    font-size: 3vh;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15%;
    box-sizing: content-box;
    width: 50%;
}

.text{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: justify;
}

.xButton{
    font-weight: bolder;
    font-size: 2vh;
    padding: 2vh;
    margin-top: 15px;
    background-color: rgb(255, 94, 0);
    border: none;
}
