@font-face {
font-family: Burglar;
  src: url(./Assets/Fonts/Burglar.ttf);
}

@font-face {
font-family: Smalline;
  src: url(./Assets/Fonts/Smalline.otf);
}

.App{
  width: 100%;
  min-height: 100vh;
  background-image: url("./Assets/Img/fondo1.jpg");
  background-attachment: fixed;
  background-size:cover;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.h1{
  margin-top: 4 em;
  font-family: Burglar;
  font-size: 15vh;
  color: white;
  text-shadow: -8px -5px 10px #070707;
  margin: 5vh;
}

.subtitles{
  text-align: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3vh;
  width: 10em;
  border-radius: 20%;
}

.h2{
  font-size: 18px;
  color: white;
  text-shadow: -2px -2px 2px #070707;
  letter-spacing: 3px;
}

.h3{
  color: white;
  font-size: 12px;
  color: white;
  text-shadow: -0px -0px 2px #070707;
  letter-spacing: 2px;
}

.button{
  font-family: Smalline;
  font-size: 4vw;
  margin-top: 35%;
  padding: 3vw;
  background-color: white;
  border: none;
  border-radius: 25px;
  box-shadow: -5px -5px 10px #070707;
}

.button:hover{
  font-size: 4.5vw;
  transition: all 0.3s ease-in-out;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
