.detailBox{
    align-items: center;
    width: 80%;
    margin-top: 30px;
    background-color: rgba(180, 167, 167, 0.638);
    border-radius: 20%;
    box-shadow: 10px 11px 22px 2px rgba(0, 0, 0, 0.75);
}