.form{
    background-color: orange;
    padding: 1em;
    margin: 0;
    border-radius: 25px; 
}

.text{
    color: orangered;
    font-size: large;
    font-weight: bold;
}

.selectedDiets{
    margin: auto;
}

.inputMin{
    text-align: center;
    border: 0px;
    border-radius: 15px; 
    width: 95%;
    height: 3vh;
    margin: 5px;
    outline: none;
}

.inputTextMax{
    font-family: arial, verdana, ms sans serif;
    text-align: center;
    border: 0px;
    border-radius: 15px; 
    width: 95%;
    height: 10vh;
    margin: 3px;
    outline: none;
}

.error{
    color: rgb(183, 25, 25);
    font-size: smaller;
    margin-top: 0;
    margin-bottom: 1em;
}

.xButton{
    text-decoration: none;
    border: none;
    margin: 15px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #1bef4d; 
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.xButton:hover{
    cursor: pointer;
    background-color: rgb(66, 255, 242);
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.72);
}