.cardContainer{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    box-shadow: -5px -5px 10px #070707;
    border-radius: 20px;
}

.text{
    font-size: 3vh;
    display: inline-flexbox;
    color: rgb(254, 0, 0);
    margin: 5px;
}

.text2{
    font-size: 2vh;
    display: inline-flexbox;
    color: rgb(254, 0, 0);
    margin: 5px;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 15%;
    width: 80%;
}

.button{
    display: inline-block;
    text-align: center;
    width: 15vh;
    height: fit-content;
    background-color: rgb(255, 94, 0);
    text-decoration: none;
    border: none;
    margin: 15px;
    color: white;
    border-radius: 15%;
    transition: 0.5s;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(66, 255, 242);
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.72);
}