.sorter{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.text{
    border-radius: 10px;
    background-color: #e8e8e8;
    border: 3px solid #fff;
    height: 5.5vh;
    font-size: 2vh;
    padding: 8px;
    cursor: pointer;
}