.cardContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 1em;
    box-shadow: -5px -5px 10px #070707;
    border-radius: 20px;
}

.name{
    font-family: Smalline;
    font-size: 2vw;
    display: inline-block;
    margin: 5px;
}

.text{
    font-size: 1em;
    display: inline;
    margin: 4px;
}

.ulContainer{
    margin: 0;
    padding: 0;
    list-style: none;
}

.li{
    display: inline-block;
    margin: 3px;
    font-size: 2vh;
    text-decoration: none;
    text-align: center;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 15%;
    width: 80%;
} 

.button{
    display: inline-block;
    text-align: center;
    width: 15vh;
    height: 9vh;
    background-color: rgb(255, 94, 0);
    text-decoration: none;
    border: none;
    margin: 5px;
    color: white;
    border-radius: 15%;
    transition: 0.5s;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(66, 255, 242);
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.72);
}