.cardContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2.5vh;
    padding: 1.5vh;
    box-shadow: -5px -5px 10px #070707;
    border-radius: 20px;
}

.cardContainer:hover{
    scale: 1.05;
    transition: all 0.3s ease-in-out;
}

.name{
    font-family: Smalline;
    font-size: 2vw;
    display: inline-block;
    margin: 8px;
}

.text{
    font-size: 1vw;
    display: inline;
    margin: 0px;
}

.textId{
    font-size: 0.8vw;
    display: inline;
    margin: 0px;
}

.ulContainer{
    margin: 0;
    padding: 0;
    list-style: none;
}

.li{
    display: inline-block;
    margin: 3px;
    font-size: 1vw;
    text-decoration: none;
    text-align: center;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 50%;
} 

.button{
    font-size: 2vh;
    font-weight: bolder;
    background-color: rgb(255, 94, 0);
    padding: 0.5vw 1vw;
    margin: 1vh;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
}

.button:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(10, 184, 172);
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.72);
}