.searchInput{
    border-radius: 0 10px 10px 0;
    background-color: #e8e8e8;
    border: 3px solid #fff;
    height: 5.5vh;
    font-size: 2vh;
    padding: 8px;
}

.searchButton{
    border-radius: 10px 0 0 10px;
    background-color: #e8e8e8;
    border: 3px solid #fff;
    height: 5.5vh;
    font-size: 2vh;
    padding: 8px;
    cursor: pointer;
}

.searchButton:hover{
    background-color: rgb(255, 162, 0);
}
