.bar{
  width: 100%;
  position: sticky;
  top: 0px;
  background: rgb(48, 240, 214);
  /* height: 4em; */
  min-height: 3em;
}
  
.ulMenu {
  list-style: none;
  margin: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.active {
  text-decoration: none;
  box-sizing: border-box;
  padding: 2vh;
  width: 4vh;
  color: white;
  font-size: 2vw;
  font-family: Smalline;
  background-color: rgb(255, 94, 0);
  border-radius: 10px;
  text-align: center;
  border: 3px solid #fff;
}

.inactive {
  text-decoration: none;
  padding: 1.8vh;
  color: white;
  font-size: 2vw;
  font-family: Smalline;
  background-color: rgb(255, 162, 0);
  border-radius: 10px;
  border: 3px solid #fff;
}

.inactive:hover{
  cursor: pointer;
  background-color: rgb(10, 184, 172);
  box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.72);
}