.HomeContainer{
    width: 100%;
  }

.text{
    font-size: 3vh;;
    display: inline-flexbox;
    color: white;
}

.buttonsContainer{
  display: inline-block;
}

.createButton{
  text-decoration: none;
  border: none;
  margin: 15px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: #1bef4d; 
  color: black;
  border-radius: 15%;
  font-weight: bold;
  transition: 0.5s;
}

.createButton:hover{
    cursor: pointer;
    background-color: rgb(66, 255, 242);
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.72);
}
