.HomeContainer{
  width: 100%;
  height: fit-content;
  text-align: center;
}

.menu{
  margin: 0;
  position: sticky;
  top: 4em;
  width: 100%;
  height: 5em;
  background-color: rgb(254, 14, 14);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.buttonAllRecipes{
  border-radius: 10px;
  background-color: #e8e8e8;
  border: 3px solid #fff;
  height: 5.5vh;
  font-size: 2vh;
  padding: 8px;
  cursor: pointer;
}

.buttonAllRecipes:hover{
  background-color: rgb(255, 162, 0);
}

.lContainer {
  margin: auto 5vh;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loaderGif {
  width: 20%;

}

.loader {
  color: #F18817;
  font-family: Smalline;
  letter-spacing: 3px;
  font-size: 3vw;
}


