.bar{
    width: 100%;
    position: sticky;
    top: 0px;
    background: rgb(48, 240, 214);
    height: 4em;
    margin: 0%;
    min-height: 3em;
}
  
.ulMenu {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ulMenu li{
    margin: 0%;
    display: inline-block;
}

.active {
    align-content: center;
    height: 4em;
    padding: 2vh;
    width: 5vh;
    color: white;
    font-size: 5vh;
    font-family: Burglar;
    background-color: rgb(255, 94, 0);
    text-decoration: none;
    /* border-radius: 10%; */
    text-align: center;
  }

  .inactive {
    align-content: center;
    padding: 1.8vh;
    color: white;
    font-size: 4vh;
    font-family: Burglar;
    background-color: rgb(255, 162, 0);
    text-decoration: none;
    /* border-radius: 10%; */
  }
